<form #f="ngForm" (ngSubmit)="showForm(f)">
    <!-- Exemple de gestion d'erreurs
    <input ngModel #er="ngModel" required minlength="6" pattern="nidhal jelassi" type="text" class="form-control" name="example">
    <div class="alert alert-danger" *ngIf="er.invalid && er.touched">
        <p *ngIf="er.errors.required">Ce champ est obligatoire</p>
        <p *ngIf="er.errors.minlength">Le nombre minimum de caractères est 6 !</p>
        <p *ngIf="er.errors.pattern">Le pattern est nidhal jelassi</p>
    </div> -->



    <!-- <div #cred="ngModelGroup" ngModelGroup="identifiants">
        <label for="login">Login</label>
        <input ngModel #inemail="ngModel" required email type="text" class="form-control" id="login" name="email">
       
        <label for="pwd">Mot de passe</label>
        <input ngModel #pwd="ngModel" required minlength="6" type="text" class="form-control" id="pwd" name="password">
    </div>
    <div class="alert alert-danger" *ngIf="cred.invalid && cred.dirty">Veuillez saisir des identifiants valides</div> -->
    <label for="login">Login</label>
    <input ngModel #inemail="ngModel" required email type="text" class="form-control" id="login" name="email">
    <div class="alert alert-danger" *ngIf="inemail.invalid && inemail.dirty">Veuillez saisir une adresse mail valide</div>
    <label for="pwd">Mot de passe</label>
    <input ngModel #pwd="ngModel" required minlength="6" type="text" class="form-control" id="pwd" name="password">
    <div class="alert alert-danger" *ngIf="pwd.invalid && pwd.touched">Le mot de passe doit être composé d'au moins 6 caractères</div>

    <!-- <label for="section">Section</label>
    <select [ngModel]="defaultSection" name="section" id="section" class="form-control">
        <option value="gl">Génie Logiciel</option>
        <option value="dmwm">Developpement web et mobile</option>
        <option value="dsen">Data Science</option>
    </select>

    <label for="comment"></label>
    <input [(ngModel)]="myComment" type="text" class="form-control" id="comment" name="comment">
    {{ myComment }}
    <pre>
        {{ f.value | json }}
    </pre> -->
  
    <br>
    <button [disabled]="f.invalid" type="submit" class="btn btn-primary">Valider</button> <br>
    <!-- <button class="btn btn-danger" (click)="resetForm(f)">Reset</button><br>
    <button class="btn btn-success" (click)="generatePwd(f)">Generate Pwd</button><br>
    <button class="btn btn-info" (click)="pwdGen(f)">Generate Pwd II</button><br> -->
</form>