<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="list-group">
                <a class="list-group-item"
                [queryParams]="{allowEdit : serv.id == 3 ? 1 : 0}"
                [routerLink]="[serv.id]"
                *ngFor="let serv of listServers">
            {{ serv.name }}
            </a>
            </div>

        </div>
        <div class="col-md-7">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>